{% extends 'main.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authen.css' %}">
{% endblock %}
{% block content %}
<div class="fp-container">
    <div class="fp-header">
        <h2>Forgot Password</h2>
        <div class="line"></div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="fp-body">
            <div class="fp-form">
                <label for="username" class="form-label">Username:</label><br>
                <input type="text" class="form-control" id="username" name="username" required
                    placeholder="Enter your username"><br><br>
            </div>
            <div class="fp-form">
                <button type="submit"><a href="{% url 'reset_pass' %}">Submit</a></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}