{% extends 'main.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block content %}

<h1 class="wishlist-heading">
    My Wishlist
</h1>

<div class="wishlist-container">

    {% for item in wishlist_items %}

    <div class="wishlist-card">
        <div class="wishlist-img">
            <img src="{{ item.product.image.url }}">
        </div>

        <div class="wishlist-desc">

            <h3>{{ item.product.name }}</h3>

            <p>₹{{ item.product.price }}</p>

            <a href="{% url 'remove_wishlist' item.id %}">
                <button class="remove-btn">
                    Remove
                </button>
            </a>
        </div>

    </div>

    {% empty %}

    <h2>Your Wishlist is Empty ❤️</h2>

    {% endfor %}

</div>

{% endblock %}